<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="static/style.css" />
<HTML lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Oasis Park - Atendente</title>
</head>
    <body>
      <header>
        <div id="header"></div><br />
      </header>


        <div class="container pt-4">
            {% for item in datas %}   
            <form action="/alterarvaga/{{item[0]}}/" method="POST">
                            
                <div class="form-row">
                    <!--OBS: Alterar ou não-->
                    <div class="col-4 col-sm-4">
                        <label for="numeroVaga">Número</label>
                        <input type="text" class="form-control" id="numeroVaga" value="{{item[1]}}" name="numeroVaga" placeholder="Numero da vaga">
                    </div>
                </div><br>
                <div class="form-row">                    
                  <div class="form-group col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">Situação</label>
                        </div>
                        <select class="custom-select" id="situacaoVaga" name="situacaoVaga">
                          <option selected>Selecione</option>
                          <option value="Ocupado">Ocupado</option>
                          <option value="Desocupado">Desocupado</option>
                        </select>
                      </div>
                  </div>

                  <!-- <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div> -->
                </div>
                
                <button type="submit" class="btn btn-primary">Alterar</button>
                
                 
            </form>
            {% endfor %}
        </div>

    </body>
    <footer>
      <div id="footer"></div>
    </footer>
    <script>
      $("#header").load("/header");
      $("#footer").load("/footer");
    </script>
</html>