<html>
    <form action="/alterarocliente" method="POST">
        <label for="cpfcliente">CPF:</label><br>
        <input type="number" name="cpfcliente" /><br>
        <label for="nomecliente">Nome:</label><br>
        <input type="text" name="nomecliente" /><br>
        <label for="sobrenomecliente">Sobrenome:</label><br>
        <input type="text" name="sobrenomecliente" /><br>
        <label for="rgcliente">RG:</label><br>
        <input type="number" name="rgcliente" /><br>
        <label for="enderecocliente">Endereço:</label><br>
        <input type="text" name="enderecocliente" /><br>
        <label for="cpfatendente">CPF Atendente:</label><br>
        <input type="number" name="cpfatendente" /><br>
        <label for="telefonecliente">Telefone:</label><br>
        <input type="number" name="telefonecliente" /><br>
        <br><br>
        <input type="submit" value="Alterar" />
      </form>
</html>