<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<HTML lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Oasis Park - Cliente</title>
</head>
  <body>
    <header>
      <div id="header"></div><br />
    </header>
    
    <div class="container">

      <form class="needs-validation" novalidate action="/gravarcliente" method="POST" id="insert-cliente">
        
        <div class="form-row">
          <div class="col-12 col-sm-12">
            <label for="cpfCliente" class="col-form-label">CPF:</label>
            <input type="number" class="form-control col-md-4 .ml-auto" id="cpfCliente" name="cpfCliente" placeholder="CPF do cliente" required>
          </div>

        </div>

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="nomeCliente">Nome:</label>
            <input type="text" class="form-control" id="nomeCliente" placeholder="Nome do cliente" name="nomeCliente" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="sobrenomeCliente">Sobrenome:</label>
            <input type="text" class="form-control" id="sobrenomeCliente" placeholder="Sobrenome do cliente" name="sobrenomeCliente" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="rgCliente">RG:</label>
            <div class="input-group">         
              <input type="text" class="form-control" id="rgCliente" placeholder="RG do cliente" name="rgCliente" aria-describedby="validationTooltipUsernamePrepend" required>
              <div class="invalid-tooltip">
                Please choose a unique and valid username.
              </div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="idPlano" class="col-form-label">Plano:</label><br>              

            <div class="form-check">
              <input class="form-check-input" type="radio" name="idPlano" id="idPlano" value="1" checked>
              <label class="form-check-label" for="idPlano">
                Mensal
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="idPlano" id="idPlano" value="2">
              <label class="form-check-label" for="idPlano">
                Diário
              </label>
            </div>     
            
            <!-- <select class="form-control" name="idPlano" data-live-search="true" id="idPlano">
              <option selected>Selecione</option>
              {% for item in planos %}
              <option value="{{item[0]}}">{{item[1]}}</option>
              {% endfor %}   
            </select> -->
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="idAtendente" class="col-form-label">CPF Atendente:</label><br>              
            <select class="form-control" name="idAtendente" data-live-search="true" id="idAtendente">
              <option selected>Selecione</option>
              {% for item in atendente %}
              <option value="{{item[0]}}">{{item[1]}}</option>
              {% endfor %}   
            </select>
          </div>
          <div class="col-md-4 mb-3">
            <label for="enderecoCliente">Endereço:</label>
            <input type="text" class="form-control" id="enderecoCliente" placeholder="Endereço do cliente" name="enderecoCliente" aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
          <div class="col-md-4 mb-3">
            <label for="telefoneCliente">Telefone:</label>
            <input type="text" class="form-control" id="telefoneCliente" placeholder="Telefone do cliente" name="telefoneCliente" aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
      </form>    
    </div>
    <br>

    <div class="container">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr align="center">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope="col">Plano</th>
            <th scope="col">ID Atendente</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for item in datas %}
          <tr align="center">
            <th scope="row">{{item[0]}}</th>
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[9]}}</td>
            <td>{{item[7]}}</td>
            <td>
              <a href="/listarcliente/{{item[0]}}/" class="btn btn-dark">VIEW</a>
              <a href="/listaparaalteracliente/{{item[0]}}/" class="btn btn-primary">UPDATE</a>
              <a href="/deletecliente/{{item[0]}}/" class="btn btn-danger btnDel">DELETE</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <script src="/static/javascript.js"></script>
  </body>
  <footer>
    <div id="footer"></div>
  </footer>
</HTML>



<!-- Scrip para chamar o modal -->
<script>

  $("#header").load("/header");
  $("#footer").load("/footer");

</script>
