<HTML>
    <form action="gravarveiculo" method="POST">
      <input type="text" name="placa" />
      <input type="text" name="cor" />
      <input type="text" name="modelo" />
      <input type="text" name="cpfcliente" />
      <input type="text" name="numerovaga" />
      <input type="text" name="entrada" />
      <input type="text" name="saida" />
      <input type="text" name="valor" />
      <input type="text" name="cpfatendente" />
      <input type="text" name="comprovante" />
      <input type="submit" value="enviar" />
    </form>
</HTML>