<HTML>
<form action="gravarveiculo" method="POST">
  <label for="placa">placa</label><br>
  <input type="text" name="placa" /><br>
  <label for="cor">cor</label><br>
  <input type="text" name="cor" /><br>
  <label for="modelo">modelo</label><br>
  <input type="text" name="modelo" /><br>
  <label for="cpfcliente">cpfcliente</label><br>
  <input type="text" name="cpfcliente" /><br>
  <label for="numerovaga">numerovaga</label><br>
  <input type="text" name="numerovaga" /><br>
  <label for="entrada">entrada</label><br>
  <input type="text" name="entrada" /><br>
  <label for="saida">saida</label><br>
  <input type="text" name="saida" /><br>
  <label for="valor">valor</label><br>
  <input type="text" name="valor" /><br>
  <label for="cpfatendente">cpfatendente</label><br>
  <input type="text" name="cpfatendente" /><br>
  <label for="comprovante">comprovante</label><br>
  <input type="text" name="comprovante" /><br>
  <br><br>
  <input type="submit" value="enviar" />
</form>

</HTML>