<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<HTML lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta http-equiv='refresh' content='{{test}}' />
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js" integrity="sha512-eSeh0V+8U3qoxFnK3KgBsM69hrMOGMBy3CNxq/T4BArsSQJfKVsKb5joMqIPrNMjRQSTl4xG8oJRpgU2o9I7HQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css" integrity="sha512-0nkKORjFgcyxv3HbE4rzFUlENUMNqic/EzDIeYCgsKa/nwqr2B91Vu/tNAu4Q0cBuG4Xe/D1f/freEci/7GDRA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Oasis Park</title>
</head>

<style>
  .bootstrap-select .hidden{
  display: none;
}
</style>

<body>
    <header>
      <div id="header"></div><br />
    </header>
<div class="container pt-3 pb-2">
  
  <center><div class="{{classe}}" id="msg">{{ msg }}</div></center>
  
<form action="{{ url_for('filtrarplaca') }}" method="post">
  <div class="form-row">      
    <div class="col-md-4 mb-3">
      <input type="text" class="form-control" id="placaveiculo" placeholder="Placa do veículo" name="placaveiculo" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>      
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Filtrar</button>
      <!-- <a href="{{ url_for('filtrarplaca') }}" class="btn btn-primary">Filtrar</a> -->
    </div>
  </div>
</form>
{% for item in infos %}
<form  action="{{ url_for('registrarentrada') }}" method="POST">      
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="idveiculo">Plano</label>
        <input type="text" class="form-control" id="plano" placeholder="Id Veiculo" name="plano" value="{{item[8]}}" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="idveiculo">Id Veículo</label>
        <input type="text" class="form-control" id="idveiculo" placeholder="Id Veiculo" name="idveiculo" value="{{item[0]}}" readonly>
      </div>   
      <div class="col-md-4 mb-3">
        <label for="corveiculo">Cor</label>
        <input type="text" class="form-control" id="corveiculo" placeholder="Cor do veículo" name="corveiculo" value="{{item[3]}}" readonly>
      </div>
      <div class="col-md-4 mb-3">
        <label for="modeloveiculo">Modelo</label>
        <div class="input-group">         
          <input type="text" class="form-control" id="modeloveiculo" placeholder="Modelo do veículo" name="modeloveiculo" value="{{item[2]}}" readonly>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="Cliente" class="col-form-label">Proprietário:</label><br>
        <input type="text" class="form-control" name="cpfcliente" id="cpfcliente" placeholder="CPF Cliente" value="{{item[4]}}" readonly>          
        <!-- <select class="ch form-control" name="cpfcliente" data-live-search="true" id="selectcliente">
          <option selected>Selecione</option>
          {% for item in cliente %}
          <option value="{{item[0]}}">{{item[1]}}</option>
          {% endfor %}   
        </select> -->
      </div>
      <div class="col-md-4 mb-3">
        <label for="Atendente" class="col-form-label">Atendente:</label> <br>
        <input type="text" class="form-control" name="cpfatendente" id="cpfatendente" placeholder="CPF Atendente" value="{{item[6]}}" readonly>
        <!-- <select class="custom-select" id="inputGroupSelect01" name="cpfatendente">
          <option selected>Selecione</option>
          {% for item in atendente %}
          <option value="{{item[0]}}">{{item[0]}}</option>
          {% endfor %}   
        </select> -->
      </div>
      
      <div class="col-md-4 mb-3">
        <label for="Vaga" class="col-form-label">Vaga:</label> <br>               
        <select class="custom-select" id="inputGroupSelect01" name="numerovaga">        
          {% for item in vagas %}
          <option value="{{item[0]}}">{{item[0]}}</option>
          {% endfor %}   
        </select>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Cadastrar</button>
  </form>
  {% endfor %}
</div>

<div class="container">
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr align="center">
        <th scope="col">#</th>
        <th scope="col">Placa</th>
        <th scope="col">Modelo</th>
        <th scope="col">Cor</th>
        <th scope="col">CPF Proprietário</th>
        <th scope="col">Vaga</th>
        <th scope="col">Data/Hora Entrada</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for item in datas %}
      <tr align="center">
        <th scope="row">{{item[0]}}</th>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>
          <a href="/ticket/{{item[0]}}/" target="_blank" class="btn btn-dark">VIEW</a>
          <a href="/registrarsaida/{{item[0]}}/" class="btn btn-primary">DONE</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% for item in datas %}
        <h5 class="modal-title" id="CadastroVagalbl">Ticket {{item[0]}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <table class="printer-ticket" align="center">
          <thead>
              <tr align="center">
                  <th class="title" colspan="3" ><h4>Oasis Park Estacionamento</h4></th>
              </tr>
             <tr>
                  <th colspan="3">-----------------------------------------------------------------------</th>
             </tr>
             <tr align="center">
                 <th colspan="3">{{item[6]}}</th>
             </tr>
             <tr>
              <th colspan="3">-----------------------------------------------------------------------</th>
         </tr>
             <tr>
              <tr class="top">
                <td colspan="1"><b>Dados Cliente</b></td>
            </tr>
            <tr>
                <td>{{item[7]}} {{item[8]}}</td>
                <td>{{item[4]}}</td>
            </tr>
             </tr>
             <tr>
              <th colspan="3">-----------------------------------------------------------------------</th>
         </tr>
             <tr align="center">
                 <th class="ttu" colspan="3">
                     <b>TICKET DE REGISTRO DE VEÍCULO</b>
                 </th>
             </tr>
             <tr>
              <th colspan="3">-----------------------------------------------------------------------</th>
         </tr>
         </thead>
         <tbody>
             <tr class="top" align="center">
                 <td colspan="0"><b>Placa</b></td>
                 <td colspan="0"><b>Modelo</b></td>
                 <td colspan="0"><b>Cor</b></td>
             </tr>
             <tr align="center">
                 <td>{{item[1]}}</td>
                 <td>{{item[2]}}</td>
                 <td>{{item[3]}}</td>
             </tr>
             <tr>
              <th colspan="3">-----------------------------------------------------------------------</th>
              </tr>
         </tbody>
         <tfoot>
             <tr class="sup ttu p--0">
                 <td colspan="3">
                     <b>Valores do Estacionamento</b>
                 </td>
             </tr>
             <tr class="ttu">
                 <td colspan="2">Primeira hora</td>
                 <td align="right">R$10,00</td>
             </tr>
             <tr class="ttu">
                 <td colspan="2">Demais</td>
                 <td align="right">R$5,00</td>
             </tr>
             <tr class="ttu">
                 <td colspan="2">Valor mensalista</td>
                 <td align="right">R$150,00</td>
             </tr>
             <tr>
              <th colspan="3">-----------------------------------------------------------------------</th>
         </tr>
             
             <tr class="sup">
                 <td colspan="3" align="center">
                     <b>Código: {{item[0]}}</b>
                 </td>
             </tr>
             <tr>
              <th colspan="3">-----------------------------------------------------------------------</th>
         </tr>
             <tr class="sup">
                 <td colspan="3" align="center">
                     www.oasispark.com.br
                 </td>
             </tr>
         </tfoot>
     </table>
     {% endfor %}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary" > Cadastrar</button>
          
        </div>
    </div>
  </div>
</div>

</body>
<footer>
  <div id="footer"></div>
</footer>

<script>
  $("#header").load("/header");
  $("#footer").load("/footer");

  $(document).ready(function(){
      $(".ch").chosen();
  });
  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var recipient = button.data('whatever') // Extract info from data-* attributes
    var modal = $(this)
    modal.find('.modal-title').text('Cadastrar Vaga')
    modal.find('.modal-body input').val(recipient)
  });
</script>
 
</script>

</HTML>
